body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f5f5f5;
}

h1, h2 {
    font-family: 'Verdana', sans-serif;
}

a {
    color: #ff4f4f;
}

a:hover {
    text-decoration: underline;
    color: #ffa1a1;
}

header {
    background-image: url('../images/mcr_header.jpg');
    background-size: cover;
    background-position: center;
}

ul.list-group li {
    background-color: #1c1c1c;
    color: #f5f5f5;
}
